################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Debug
/ascii_raytracing_demo/Debug
/.vs/ascii_raytracing_demo
